@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body.light {
    background-color: #FFFFFF;
    .general-font-color { color: #212124; }
    .general-font-color-black-gray { color: #212124; }
    .general-font-color-black-2529 { color: #212529; }
    .general-font-color-black-white { color: #212124; }
    .general-font-color-gray-8e96 { color: #868E96; }
    .footer-font-color-gray-8b94 { color: #868B94; }
    .footer-font-color-gray-5159 { color: #4D5159; }
    .footer-font-color-gray-black { color: #4D5159; }

    
    .border-color-black-white { border-color: #EAEBEE; }
    .border-top-color { border-color: #EAEBEE; }

    .general-hover-color-white { background-color: #F2F3F6; }

    .background-color-black-white-basic { background-color: #FFFFFF;}
    .background-color-black-white { background-color: #F2F3F6;}
    .background-color-carrot-f7f2 { background-color: #FBF7F2; }
    .background-color-carrot-e2d2 { background-color: #FFE2D2;}
    .background-color-green { background-color: #E6F3E6; }
    .background-color-sky { background-color: #D2EDFA; }
    .background-color-gray { background-color: #F8F9FA; }
}

body.dark {
    background-color: #17171A;
    .general-font-color { color: #212124; }
    .general-font-color-black-gray { color: #2B2E33; }
    .general-font-color-black-2529 { color: #212529; }
    .general-font-color-black-white { color: #EAEBEE; }
    .general-font-color-gray-8e96 { color: #868E96; }
    .footer-font-color-gray-8b94 { color: #868B94; }
    .footer-font-color-gray-5159 { color: #4D5159; }
    .footer-font-color-gray-black { color: #ADB1BA; }

    .border-color-black-white { border-color: #50545C; }
    .border-top-color { border-color: #34373D; }

    .general-hover-color-white { background-color: #2B2E33; }

    .background-color-black-white-basic { background-color: #17171A;}
    .background-color-black-white { background-color: #2B2E33; }
    .background-color-carrot-f7f2 { background-color: #FBF7F2; }
    .background-color-carrot-e2d2 { background-color: #FFE2D2; }
    .background-color-green { background-color: #E6F3E6; }
    .background-color-sky { background-color: #D2EDFA; }
    .background-color-gray { background-color: #F8F9FA; }
}